@charset "UFT-08";
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: rgb(184, 179, 179);
}

a {
    text-decoration: none;
}

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu {
    padding: 10px;
}
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco {
    color: white;
}
a:link, a:visited {
    color: white;
    padding: 8px 12px;
}
a:hover {
    color: #f7b600;
    background: #ffffff
}
#area-principal {
    background-color: white;
    width: 920px;
    margin: 0 auto;
}
#area-postagens, #area-lateral {
    background-color: orange;
}
#area-postagens {
    width: 660px;
    float: left;
}
#area-lateral {
    width: 240px;
    float: right;
}
article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
footer {
    width: 890px;
    text-align: center;
    padding: 15px;
    background-color: grey;
    margin: auto;
    clear: both;
}